<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/custom.css}" rel="stylesheet">
	<link th:href="@{/css/fonts-google.css}" rel='stylesheet'>
	<title>TIMTEAM</title>
	<script th:src="@{/lib/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/lib/js/jquery.validate.min.js}"></script>
	<script th:src="@{/js/index.js}"></script>
</head>
<body>
	<nav id="siteNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="/">
		            <span class="glyphicon glyphicon-fire"></span>
		            TIMTEAM
		        </a>
		    </div>
		    <div class="collapse navbar-collapse" id="navbar">
		        <ul class="nav navbar-nav navbar-right">
		            <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TÌM ĐỐI <span class="caret"></span></a>
		                <ul class="dropdown-menu" aria-labelledby="about-us">
		                    <li><a href="#">Đối đang chờ</a></li>
		                    <li class="divider"></li>
		                    <li><a href="#">Mời đối giao lưu</a></li>
		                </ul>
		            </li>
		            <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ĐẶT SÂN <span class="caret"></span></a>
		                <ul class="dropdown-menu" aria-labelledby="about-us">
		                    <li><a href="#">Sân bóng tại Hà Nội</a></li>
		                    <li class="divider"></li>
		                    <li><a href="#">Sân bóng tại HCM</a></li>
		                </ul>
		            </li>
		            <li class="active" data-toggle="modal" data-target="#login">
		                <a href="#">ĐĂNG NHẬP</a>
		            </li>
		        </ul>
		    </div>
		</div>
	</nav>
	
	<header>
	    <div class="header-content">
	        <div class="header-content-inner">
	            <h1>TÌM ĐỐI GIAO LƯU VÀ ĐẶT SÂN TRỰC TUYẾN</h1>
	            <p>Tìm đối tác nhanh và dễ dàng, tiết kiệm tối đa thời gian, giảm thiểu tình trạng cháy đối.</p>
	            <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">ĐĂNG KÍ NGAY</a>
	        </div>
	    </div>
	</header>

	<section class="intro">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2">
	                <span class="glyphicon glyphicon-apple" style="font-size: 60px"></span>
	                <h2 class="section-heading">Người có sức khỏe là người có hy vọng, có tất cả mọi thứ</h2>
	                <p class="text-light">Hãy chăm sóc cơ thể của bạn. Đó là nơi duy nhất bạn phải sống</p>
	            </div>
	        </div>
	    </div>
	</section>

	<section class="content">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-6">
	                <img class="img-responsive img-circle center-block" th:src="@{img/doibong.jpg}" alt="">
	            </div>
	            <div class="col-sm-6">
	                <h2 class="section-header">2801 đội bóng</h2>
	                <p class="lead text-muted">Bạn được phép gửi lời mời đối giao lưu tới nhiều đội cùng 1 lúc mà không cần gọi điện, chờ đợi đối trả lời để tiếp tục hỏi đối tiếp theo.</p>
	                <a href="#" class="btn btn-primary btn-lg">TÌM ĐỘI</a>
	            </div>                
	        </div>
	    </div>
	</section>

	<section class="content content-2">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-6">
	                <h2 class="section-header">50 sân bóng</h2>
	                <p class="lead text-light">Bạn có thể đặt sân mà không cần gọi điện. Cho phép bạn kiểm tra tình trạng sân trống và đặt sân trực tuyến.</p>
	                <a href="#" class="btn btn-default btn-lg">ĐẶT SÂN</a>
	            </div>    
	            <div class="col-sm-6">
	                <img class="img-responsive img-circle center-block" th:src="@{/img/sanbong.jpg}" alt="">
	            </div>            
	        </div>
	    </div>
	</section>    

	<div class="container-fluid">
	    <div class="row promo">
            <div class="col-md-4 promo-item item-1">
                <h3>ĐỐI PHỦI</h3>
            </div>
            <div class="col-md-4 promo-item item-2">
                <h3>ĐỐI TRUNG BÌNH</h3>
            </div>
            <div class="col-md-4 promo-item item-3">
                <h3>ĐỐI MỀM</h3>
            </div>
	    </div>
	</div>

	<section class="content content-3">
	    <div class="container">
	        <h2 class="section-header"><span class="glyphicon glyphicon-pushpin text-primary"></span><br> Giới thiệu</h2>
	        <p class="lead text-muted">TIMTEAM cung cấp các tiện ích thông minh giúp cho bạn tìm đối đá bóng, đặt sân một cách hiệu quả nhất.</p> 
	        <a href="#" class="btn btn-primary btn-lg">CÁC TÍNH NĂNG</a>               
	    </div>
	</section>

	<footer class="page-footer">
	    <div class="contact">
	        <div class="container">
	            <h2 class="section-heading">TIMTEAM.vn</h2>
	            <p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
	            <p><span class="glyphicon glyphicon-envelope"></span><br> timteam@gmail.com</p>
	        </div>
	    </div>
	    <div class="small-print">
	        <div class="container">
	            <p>Copyright &copy; timteam.vn 2018</p>
	        </div>
	    </div>
	</footer>

	<div th:replace="fragments/register :: register"></div>
	<div th:replace="fragments/login :: login"></div>
	
	<!-- Bootstrap Core JavaScript  -->
	<script th:src="@{/ui/js/bootstrap.min.js}"></script>
	<!-- Plugin JavaScript  -->
	<script th:src="@{/ui/js/jquery.easing.min.js}"></script>
	<!-- Custom Javascript -->
	<script th:src="@{/ui/js/custom.js}"></script>
	</body>
</html>